* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    background-color: #748b99;
}


div {
    display: inline-block;
    padding: 10px;
}

nav {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-left: 2px;
    background-color: #748b99;
}

section {
    width: 100%;
    max-width: 1170px;
    min-width: 500px;
    margin: 0 auto;
}

#heading {
    width: 100%;
    background-image: url("https://itk-assets.nyc3.digitaloceanspaces.com/2020/03/grocery-delivery-services-1024x690.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 30px;
}

#groc-wrapper, .groc-item-wrapper, #img-wrapper {
    width: auto;
}

#groc-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}
@media only screen and (max-width: 700px){
    #groc-wrapper {
        grid-template-columns: auto;
        margin-left: auto;
        margin-right: auto;
    }
}



.groc-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:white;
    margin-bottom: 5px;
}

.img-wrapper {
    align-self: center;
    width: 50%;
}

img {
    width: 100%;
}

.img-con-wrapper {
    font-size: larger;
    width: 50%;
    text-align: center;
    align-self: center;
}

button {
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #748b99;
    border: none;
}

button:focus {
    border: none;
}

.cost {
    font-size: x-large;
    font-weight: bolder;
}

#order {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
}

#order>img {
    width: 50px;
}


.hidden+#form-cover {
	display:none;
}

.visible+#form-cover {
    display: block;
    position: fixed;
    top: 0;
    right: 5%;
    height: 500px;
      
}

form {
    display: flex;
    flex-direction: column;
    background-color: #748b9999;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    color: black;
    font-weight: bolder;
    height: 100%;
    overflow-y: scroll;
}

input {
    width: 500px;
    height: 40px;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

#cont-wrapper {
    display: flex;
    justify-content: center;
    background-color: #748b99;
}

#cont {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
}

.contact>img {
    align-self: center;
    width: 30px;
}

.contact-con {
    align-self: center;
}

.groc-order {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.groc-order input {
    width: unset;
    border: none;
}

.groc-order label {
    width: unset;
    border: none;
    justify-self: center;
    align-self: center;
}
